.vscode/
*/.vs/

checkpoints/
wandb/
*/wandb/*

# Dataset
dataGeneration/data/


# Cache
__pycache__/*
.ipynb_checkpoints/*
debug
debug/.ipynb_checkpoints/*
*/__pycache__/*
*/.ipynb_checkpoints/*


# Local files
start.sh
commands.txt