.vscode/
*/.vs/

checkpoints/
wandb/
*/wandb/*

# Dataset
dataGeneration/data/
dataGeneration/data_prev/
dataGeneration/mass_data/
dataGeneration/test_data_eps/
dataGeneration/*.zip

# Cache
__pycache__/*
.ipynb_checkpoints/*
debug
debug/.ipynb_checkpoints/*
*/__pycache__/*
*/.ipynb_checkpoints/*


# Local files
start.sh
commands.txt